#Project
.idea
windows
phylip.txt
RAx_Files
RAxML_Files
Trees
*.pyc
*.jpg
*.png
*.pdf
*.psd
*.svg
Topologies
*.swp
*.swo
RAxML_SpeciesTree
*.bkp
!Luay.jpg
!tree.png
!warning.png
plots/
!testFiles/phylip.txt